h1 {
    text-align: center;
}

h2{
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#lion:hover{
    background-color: orange;
}

#sswu:hover{
    background-color: purple;
    color: white;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    width: 100%;
}

th{
    font-weight: bold;
    vertical-align: top;
    color: black;
    background: gold ;
    border-bottom: black;
}

td{
    vertical-align: top;
    border-bottom: 1px solid black;
    background: white;
}

td:hover{
    color: white;
    background: darkgoldenrod;
}

